omegaconf
einops
lpips
timm==0.9.16
pre-commit
ipykernel
PyWavelets
pyav==13.0.0
av
scikit-image
pandas
tqdm
pytorch_msssim
tensorboard
calflops
transformers
safetensors
pycocotools
opencv-python
scipy
ffmpeg-python
lightning