model: unet_small

unet_small:
  msg_processor:
    nbits: 16
    hidden_size: 32     # nbits * 2
    msg_processor_type: 'binary+concat'
  unet:
    in_channels: 3
    out_channels: 3
    z_channels: 32
    num_blocks: 3
    activation: 'silu'
    normalization: 'rms'
    z_channels_mults: [1, 2, 4]
    last_tanh: True

hidden:
  num_blocks: 4  # in the bottleneck
  num_bits: 16
  z_channels: 64
  normalization: 'group'
  last_tanh: True